.navbar{
    background-color: #2D82B5;
    background-color: white;
    margin-top:5px;
    justify-content:space-around;
}
.navbar .container{
    margin: 0px;
    flex-direction: row;
}
.logo{
     width:50px;
}
.nav-item{
    display: flex;
    justify-content: end;
}
.nav-link {
    color: white;
    background-color: #0071af;
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}
@media (max-width: 991.98px) {
    /* Tablet devices */
    .nav-link {
        margin: 7px;
        width: 225px;
    }
}

@media (max-width: 767.98px) {
    /* Mobile devices */
    .nav-link {
        margin: 7px;
        width: 225px;
    }
}
