.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.content h2 {
  margin: 15px 0px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.std-image {
  max-width: 50%;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 60%;
}

@media screen and (max-width: 768px) {
  .std-image {
    max-width: 80%;
  }
}

.custom-file {
  display: flex;
  align-items: center;
}
input[type="text"], 
input[type="email"], 
input[type="password"]{
  padding: 15px 10px;
}
button[type="submit"]{
  padding: 10px;
}