{% extends "master.html" %}
{% load static %}

{% block title %}
    Course Reports
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for course in courses_data %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.course_code }}</h5>
                            <p class="text-muted">Instructor: {{ course.instructor_name }}</p>
                            <p class="card-text mt-4">
                                <span class="badge bg-primary">Popularity Score: {{ course.popularity_score }}</span>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

