{% extends "master.html" %}
{% load static %}
{% block title %} Student Courses Schedules {% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    {% if schedules%}
    <div class="col-12">
      <table class="table" >
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Instructor Name</th>
            <th>Days</th>
            <th>Time</th>
            <th>Room</th>
          </tr>
        </thead>
        <tbody>
          {% for course_with_schedule in schedules%}
          {% for schedule in course_with_schedule.schedules %}
          <tr>
            <td>{{ course_with_schedule.course.course_name }}</td>
            <td>{{ course_with_schedule.course.instructor_name }}</td>
            <td>{{ schedule.days }}</td>
            <td>{{ schedule.start_time }} - {{ schedule.end_time }}</td>
            <td>{{ schedule.room_number }}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="col-12 mt-5">
      <div class="alert alert-info" role="alert">No Schedules Found.</div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
