{% extends "master.html" %}
{% load static %}

{% block title %}
    Edit Course
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/edit_course.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid  offset-1">
    <div class="row">
        <div class="content shadow col-md-8">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger messages mb-4" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-center mb-5">Create Course</h2>
                    <input type="text" id="course_code" class="form-control mb-2" name="course_code" required placeholder="Course Code" value="{{ course.course_code }}"><br>
                    <input type="text" id="course_name" name="course_name" placeholder="Course Name" required class="form-control mb-2" value="{{ course.course_name }}"><br>
                    <input type="text" id="description" name="description" placeholder="Description" required class="form-control mb-2" value="{{ course.description }}"><br>
                    <input type="text" id="instructor_name" name="instructor_name" placeholder="Instructor Name" required class="form-control mb-2" value="{{ course.instructor_name }}"><br>
                    <select id="prerequisites" name="prerequisites" class="form-control mb-4">
                        <option value="" selected disabled>Select Prerequisite</option>
                        {% for prerequisite in prerequisites %}
                        <option value="{{ prerequisite.course_code }}">{{ prerequisite.course_name }}</option>
                        {% endfor %}
                    </select>
                    <select id="schedule" name="schedule" required class="form-control mb-4">
                        <option value="" selected disabled>Select Schedule</option>
                        {% for schedule in schedules %}
                        <option value="{{ schedule.schedule_id }}">{{ schedule }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" required id="capacity" name="capacity" placeholder="Capacity" class="form-control mb-4" min="1" value="{{ course.capacity }}"><br>
                    <button class="btn btn-primary form-control col-md-1" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}